# Python
__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/
dist/
build/
*.log
*.sqlite3
*.db
*.pkl
*.env
*.venv/
env/
venv/
ENV/
env.bak/
venv.bak/

# PyCharm
.idea/
*.iml
*.ipr
*.iws

# macOS
.DS_Store

# VS Code (如果你也用过 VS Code)
.vscode/

# Jupyter Notebook
.ipynb_checkpoints/

# Unit test / coverage
htmlcov/
.tox/
.nox/
.coverage
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
test-results/

# Virtualenv
pip-log.txt
pip-delete-this-directory.txt

# MyPy
.mypy_cache/
.dmypy.json
.pyre/

# Others
*.bak
*.swp
*.tmp

